body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 40px;
    max-width: 2000px;
    margin: 0 auto;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.portfolio-item img:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.site-footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed; /* For a fixed footer */
    bottom: 0;
    left: 0;
    width: 100%;
}

.site-footer ul {
    list-style: none; /* Remove bullet points from list */
    padding: 0;
}

.site-footer li {
    display: inline-block; /* Display list items horizontally */
    margin: 0 10px;
}

.site-footer a {
    color: white;
    text-decoration: none; /* Remove underline from links */
}